* {
  font-family: Arial;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
  background: #f0f2f8;
  overflow: auto;
}

html,
body,
#app,
main {
  height: 100%;
}

main {
  width: 428px;
  margin: 0 auto;
  border-top: 1px solid transparent;
}

h1 {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  letter-spacing: 0.5px !important;
  color: #3e3e3e !important;
  text-align: center !important;
}

ul {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  border-color: transparent !important;
}

button.primary {
  background: linear-gradient(0deg, #007aff, #007aff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 16px;
  color: #fff;
  width: 100%;
  padding: 12px 0;

  &:hover {
    color: #fff !important;
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.zodiac-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 27px;
  padding-bottom: 21px;
}
